<h1>Welcome <%= @user.username %></h1>

<%= render 'application/message' %>

<div id="ui_buttons">
  <%= button_tag "View All Trails", id: "trails" %>
  <%= button_tag "View Trails You've Created", id: "user-trails" %>
  <%= button_tag 'View Your Trail Ratings', id: "user-trail-ratings" %>
  <%= button_tag 'Add a New Trail', id: "add-trail" %>
  <%= button_tag 'Add a Trail Rating', id: "add-trail-rating" %>
</div>
<br>

<div id="success_message">

</div>

<div id="all_trails" class="hidden">
  
</div>

<div id="user_created_trails" class="hidden">
  <% if @user.created_trails == 0 %>
    <h3>You have not contributed any trails yet.</h3>
    <p>We welcome you to contribute by selecting the "Add a New Trail" link above!</p>
  <% end %>

  <h3> Trails Contributed by <%= @user.username %></h3>
  <% @user.created_trails.each do |tr| %>
      <strong>Name: </strong>
      <br>
      <%= tr.name %>
      <br>
      <br>
      <strong>Length: </strong>
      <br>
      <br>
      <%= tr.length %>
      <br>
      <br>
      <br>
  <% end %>
</div>

<div id="user_tr_display" class="hidden">
<h3>Trail Ratings from <%= @user.username %></h3>

<% if @user.trail_ratings.blank? %>
  <h3>You have no trails currently listed.</h3>
<% end %>

  <% @user.trail_ratings.each do |tr| %>
    <% if tr.trail != nil %>
      <strong>Name: </strong>
      <br>
      <%= tr.trail.name %>
      <br>
      <br>
      <strong>Length: </strong>
      <br>
      <%= tr.trail.length %>
      <br>
      <br>
      <strong>Your Rating: </strong>
      <br>
      <%= tr.rating %>
      <br>
      <br>
      <% if validate_user %>
        <%= link_to "Edit This Trail Rating", edit_trail_rating_path(tr) %>
        <br>
        <%= link_to "Delete This Trail Rating", tr, method: :delete, data: { confirm: "Are you sure?" } %>  
      <% end %>
      <br>
      <br>
      <hr>
    <% end %>
  <% end %>
</div>

<div id="trail_form" class="hidden">
  <% if validate_user %>
    <%= render 'trails/form' %>
  <% end %>
</div>

<div id="trail_ratings_form" class="hidden">
  <% if validate_user %>
  <% if @user.unowned_trails.size > 0 %>
    <h3>Add a new trail and rating to your collection</h3>

    <%= form_for @trail_rating do |f| %>
      <%= f.hidden_field :user_id, value: @user.id %>
      <%= f.label "Select Trail: " %>
      <br>
      <%= f.collection_select :trail_id, @user.unowned_trails, :id, :name %>
      <br>
      <br>
      <%= f.label "Select Personal Rating: " %>
      <br>
      <%= f.select "rating", options_for_select(1..5, 3) %>
      <br>
      <br>
      <%= f.submit id: "trail-rating-submit" %>

      <% end %>
    <% else %>
      <h4>Sorry, you have rated all the trails in our system!</h4>
    <% end %>
  <% end %>
</div>

<script type="text/javascript" charset="utf-8">
  $(function(){
      attachListeners()
  })
</script>