<h1>Welcome <%= @user.username %></h1>

<br>
<br>

<% @user.trail_ratings.each do |tr| %>
  <strong>Name: </strong>
  <br>
  <%= tr.trail.name %>
  <br>
  <br>
  <strong>Length: </strong>
  <br>
  <%= tr.trail.length %>
  <br>
  <br>
  <strong>Your Rating: </strong>
  <br>
  <%= tr.rating %>
  <br>
  <br>
  <br>
<% end %>

<p>Add a new trail and rating to your collection</p>

<%= form_for @trail_rating do |f| %>
  <%= f.hidden_field :user_id, value: @user.id %>
  <%= f.label "Select Trail: " %>
  <br>
  <%= f.collection_select :trail_id, Trail.all, :id, :name %>
  <br>
  <br>
  <%= f.label "Select Personal Rating:  " %>
  <br>
  <%= f.select "rating", options_for_select(1..5, 3) %>
  <br>
  <br>
  <%= f.submit %>

<% end %>