<h1>Welcome <%= @user.username %></h1>

<%= render 'application/message' %>

<div id="user_tr_display" class="hidden">
  <% if @user.trail_ratings.blank? %>
    <h3>You have no trails currently listed.</h3>
  <% end %>

  <% @user.trail_ratings.each do |tr| %>
    <% if tr.trail != nil %>
      <strong>Name: </strong>
      <br>
      <%= tr.trail.name %>
      <br>
      <br>
      <strong>Length: </strong>
      <br>
      <%= tr.trail.length %>
      <br>
      <br>
      <strong>Your Rating: </strong>
      <br>
      <%= tr.rating %>
      <br>
      <br>
      <% if validate_user %>
        <%= link_to "Edit This Trail Rating", edit_trail_rating_path(tr) %>
        <br>
        <%= link_to "Delete This Trail Rating", tr, method: :delete, data: { confirm: "Are you sure?" } %>  
      <% end %>
      <br>
      <br>
      <hr>
    <% end %>
  <% end %>
</div>

<% if validate_user %>

<% if @user.unowned_trails.size > 0 %>
  <p>Add a new trail and rating to your collection</p>

  <%= form_for @trail_rating do |f| %>
    <%= f.hidden_field :user_id, value: @user.id %>
    <%= f.label "Select Trail: " %>
    <br>
    <%= f.collection_select :trail_id, @user.unowned_trails, :id, :name %>
    <br>
    <br>
    <%= f.label "Select Personal Rating: " %>
    <br>
    <%= f.select "rating", options_for_select(1..5, 3) %>
    <br>
    <br>
    <%= f.submit %>

    <% end %>
  <% end %>
<% end %>

<script type="text/javascript" charset="utf-8">
  $(function(){
    console.log('ready')
  })
</script>