<h3>Create and Contribute a New Trail</h3>

<%= form_for @trail do |f| %>
  <%= f.hidden_field :created_by, :value => session[:user_id] %>
  <%= f.label "Name:" %>
  <br>
  <%= f.text_field :name %>
  <br>
  <%= f.label "Length:" %>
  <br>
  <%= f.number_field :length, min: 0, max: 50, step: 0.1 %>
  <br>
  <br>
  <%= f.submit id: "new-trail-submit", data: { disable_with: false } %>
<% end %>