<!DOCTYPE html>
<html>
  <head>
    <title>Trailtracker</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <% if @user && @user.errors %>
    <% @user.errors.full_messages.each do |msg| %>
      <%= msg %>
    <% end %>
  <% end %> 
  <%= render 'navigation' %>
    <%= yield %>
  </body>
</html>
